<nav>
  <div class="container">
    <!-- Burger Menu Icon (visible only on mobile) -->
    <div class="burger-menu" (click)="toggleMobileMenu()">
      <img src="./assets/images/burger-bar-icon.png" alt="menu" />
    </div>

    <!-- Left Side -->
    <div class="nav-links desktop-only">
      <ng-container *ngFor="let item of navItems">
        <ng-container *ngIf="!item.sections">
          <a routerLink="{{ item.link }}">{{ item.name }}</a>
        </ng-container>
        <ng-container *ngIf="item.sections">
          <div class="dropdown">
            <a routerLink="{{ item.link }}"
              >{{ item.name }}
              <img src="assets/images/dropdown-icon.png" alt="arrow-down"
            /></a>
            <div class="dropdown-content">
              <div
                class="dropdown-section"
                *ngFor="let section of item.sections"
              >
                <h4 class="section-title">{{ section.title }}</h4>
                <a
                  *ngFor="let category of section.categories"
                  routerLink="{{ category.link }}"
                  class="category-item"
                  (click)="onCategoryClick(category.link)"
                >
                  {{ category.name }}
                </a>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!-- Middle Side -->
    <div class="nav-logo">
      <a routerLink="/">
        <h1>
          <em>{{ isAdmin ? "Otters+" : "Otters" }}</em>
        </h1>
      </a>
    </div>

    <!-- Right Side -->
    <div class="nav-actions desktop-only">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search"
          (input)="search($event)"
          (keyup.enter)="submitSearch()"
        />
        <img
          src="./assets/images/search-icon.png"
          alt="search-icon"
          (click)="submitSearch()"
        />
      </div>
      <a routerLink="/shopping-cart" class="cart-icon-container">
        <img
          src="./assets/images/shopping-cart-icon.png"
          alt="shopping-cart-icon"
        />
        <span class="cart-count" *ngIf="cartItemsCount > 0">{{
          cartItemsCount
        }}</span>
      </a>
      <div class="user-dropdown">
        <div class="user-icon" (click)="toggleUserDropdown()">
          <div *ngIf="isLoggedIn && userImage" class="user-avatar">
            <img [src]="userImage" alt="User profile" />
          </div>
          <img
            *ngIf="!isLoggedIn || !userImage"
            src="./assets/images/user-profile-icon.png"
            alt="user-profile-icon"
          />
        </div>
        <div class="user-dropdown-content" [class.show]="isUserDropdownOpen">
          <div class="dropdown-header">
            <span class="header-title">Account</span>
            <span class="close-dropdown" (click)="closeUserDropdown()">✕</span>
          </div>
          <ng-container *ngIf="isLoggedIn; else notLoggedIn">
            <a
              routerLink="/account-management/profile"
              (click)="closeUserDropdown()"
              >Edit Profile</a
            >
            <a (click)="logout(); closeUserDropdown()">Logout</a>
          </ng-container>
          <ng-template #notLoggedIn>
            <a routerLink="/signup" (click)="closeUserDropdown()">Sign Up</a>
            <a routerLink="/login" (click)="closeUserDropdown()">Login</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Mobile Side Navigation -->
<div class="mobile-nav" [class.open]="isMobileMenuOpen">
  <div class="mobile-nav-header">
    <div class="close-btn" (click)="closeMobileMenu()">✕</div>
  </div>
  <div class="mobile-nav-content">
    <div class="mobile-nav-links">
      <ng-container *ngFor="let item of navItems">
        <ng-container *ngIf="!item.sections">
          <a routerLink="{{ item.link }}" (click)="closeMobileMenu()">{{
            item.name
          }}</a>
        </ng-container>
        <ng-container *ngIf="item.sections">
          <div class="mobile-dropdown">
            <a routerLink="{{ item.link }}" (click)="closeMobileMenu()">{{
              item.name
            }}</a>
            <div
              class="mobile-dropdown-toggle"
              (click)="toggleMobileDropdown($event)"
            >
              <img src="assets/images/dropdown-icon.png" alt="arrow-down" />
            </div>
            <div class="mobile-dropdown-content">
              <div *ngFor="let section of item.sections" class="mobile-section">
                <h4 class="section-title">{{ section.title }}</h4>
                <a
                  *ngFor="let category of section.categories"
                  routerLink="{{ category.link }}"
                  class="category-item"
                  (click)="onCategoryClick(category.link)"
                >
                  {{ category.name }}
                </a>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="mobile-nav-actions">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search"
          (input)="search($event)"
          (keyup.enter)="submitSearch()"
        />
        <img
          src="./assets/images/search-icon.png"
          alt="search-icon"
          (click)="submitSearch()"
        />
      </div>
      <div class="mobile-action-icons">
        <a
          routerLink="/cart"
          (click)="closeMobileMenu()"
          class="cart-icon-container"
        >
          <img
            src="./assets/images/shopping-cart-icon.png"
            alt="shopping-cart-icon"
          />
          <span class="cart-count" *ngIf="cartItemsCount > 0">{{
            cartItemsCount
          }}</span>
        </a>

        <ng-container *ngIf="isLoggedIn; else mobileNotLoggedIn">
          <a
            routerLink="account-management/profile"
            (click)="closeMobileMenu()"
            class="mobile-user-link"
          >
            <span>Edit Profile</span>
          </a>
          <a (click)="logout(); closeMobileMenu()" class="mobile-user-link">
            <span>Logout</span>
          </a>
        </ng-container>
        <ng-template #mobileNotLoggedIn>
          <a
            routerLink="/signup"
            (click)="closeMobileMenu()"
            class="mobile-user-link"
          >
            <span>Sign Up</span>
          </a>
          <a
            routerLink="/login"
            (click)="closeMobileMenu()"
            class="mobile-user-link"
          >
            <span>Login</span>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Backdrop for mobile menu -->
<div
  class="mobile-nav-backdrop"
  [class.open]="isMobileMenuOpen"
  (click)="closeMobileMenu()"
></div>
