<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="performance-container">
    <h2 class="section-title">Today's Performance</h2>

    <div class="metrics-row">
      <div class="metric-card">
        <div class="metric-content">
          <div class="metric-info">
            <h2 class="metric-value">$970</h2>
            <p class="metric-label">Daily Revenue</p>
          </div>
          <div class="icon-circle">
            <img
              src="../../../../../assets/images/revenue-icon.png"
              alt="revenue-icon"
            />
          </div>
        </div>
      </div>

      <div class="metric-card">
        <div class="metric-content">
          <div class="metric-info">
            <h2 class="metric-value">27</h2>
            <p class="metric-label">Daily Orders</p>
          </div>
          <div class="icon-circle">
            <img
              src="../../../../../assets/images/orders-icon.png"
              alt="orders-icon"
            />
          </div>
        </div>
      </div>

      <div class="metric-card">
        <div class="metric-content">
          <div class="metric-info">
            <h2 class="metric-value">10</h2>
            <p class="metric-label">Daily Customers</p>
          </div>
          <div class="icon-circle">
            <img
              src="../../../../../assets/images/customers-icon.png"
              alt="customers-icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-container">
    <h2 class="section-title">Orders Over Time</h2>
    <div class="chart-container">
      <ag-charts [options]="options"></ag-charts>
    </div>
  </div>
</div>
