<section class="product-details" *ngIf="product$ | async as product">
  <div class="current-product-path">
    <p>Our Products</p>
    <img
      src="../../../../assets/images/path-arrow-icon.png"
      alt="Path Arrow Icon"
    />
    <p>{{ product.category | capitalizeFirst }}</p>
  </div>
  <div class="product-details-container">
    <div class="product-details-image">
      <div class="image-loading-skeleton" *ngIf="imageLoading"></div>

      <img
        [src]="product.images[selectedImageIndex]"
        alt="Product Image"
        [class.hidden]="imageLoading"
        (load)="imageLoading = false"
        (error)="imageLoading = false"
      />
    </div>
    <div class="product-details-info">
      <div class="main-content">
        <h1>{{ product.title }}</h1>
        <app-star-rating [rating]="product.rating"></app-star-rating>
        <h2>{{ product.price | currency }}</h2>
      </div>
      <div class="about-product">
        <h3>About this product</h3>
        <p>{{ product.description }}</p>
      </div>

      <div class="product-details-actions">
        <h3>Add to cart</h3>
        <div class="quantity-selector">
          <button (click)="decrementQuantity()">-</button>
          <input [(ngModel)]="quantity" min="1" (change)="onQuantityChange()" />
          <button (click)="incrementQuantity()">+</button>
          <button class="add-to-cart-button" (click)="addToCart(product)">
            Add to Cart
          </button>
        </div>
        <p style="font-size: 14px; margin-block-start: 5px">
          VAT & delivery fees are applied at checkout
        </p>
      </div>
    </div>
  </div>
  <div class="images-container">
    <div
      *ngFor="let img of product.images; let i = index; trackBy: trackByImage"
      class="thumbnail-item"
      [class.active]="selectedImageIndex === i"
      (click)="selectImage(i)"
    >
      <div
        class="thumbnail-loading-skeleton"
        *ngIf="thumbnailsLoading[i]"
      ></div>

      <img
        [src]="img"
        alt="Thumbnail {{ i + 1 }}"
        [class.hidden]="thumbnailsLoading[i]"
        (load)="thumbnailsLoading[i] = false"
        (error)="thumbnailsLoading[i] = false"
      />
    </div>
  </div>
  <div class="related-products">
    <h1>Browse Related Products</h1>
    <div class="related-products-container">
      <app-product-card
        *ngFor="let product of relatedProducts$ | async"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</section>
