<div class="login-container">
  <img src="../../../../assets/images/login-image.jpg" alt="login-image" />
  <div class="login-form">
    <h1>Log In</h1>
    <p>Enter your details below</p>
    <form action="">
      <app-input
        type="text"
        id="email"
        name="email"
        placeholder="Email or Phone Number"
      />
      <app-input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <div class="login-form-actions">
        <app-button type="submit">Log In</app-button>
        <app-button type="gmail">Login with Gmail</app-button>
        <p>Don't have an account? <a href="#">Sign up</a></p>
      </div>
    </form>
  </div>
</div>
