.stock-chip {
  display: inline-block;
  align-items: center;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  text-align: center;

  &.in-stock-chip {
    background-color: #e6f4ea;
    color: #137333;
  }

  &.low-stock-chip {
    background-color: #fff4e5;
    color: #663c00;
  }

  &.out-of-stock-chip {
    background-color: #fce8e6;
    color: #c5221f;
  }
}
