@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
.hero-section {
  .container {
    position: relative;
    .main-background-image {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .main-background-image-overlay {
      padding-top: $spacing-sm;
      padding-bottom: $spacing-3xl;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.2);
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      .title {
        margin-inline-start: $spacing-4xl;
        color: $primary-color;
        text-align: center;
        margin-block-end: $spacing-sm;
        text-shadow: $subtle-text-shadow;
      }
      .subtitle {
        margin-inline-start: $spacing-4xl;
        color: $primary-color;
        text-align: flex-start;
        font-size: $font-size-xl;
        font-weight: $font-weight-light;
      }
      .shop-button {
        margin-inline-start: $spacing-4xl;
        margin-block-start: $spacing-lg;
        @include white-button;
      }
    }
  }
}

.categories-section {
  .container {
    margin: $spacing-3xl $spacing-4xl;
    padding: 0;
    .section-title {
      margin-block-end: $spacing-lg;
      text-shadow: $subtle-text-shadow;
    }
    .categories-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .category-card {
        gap: $spacing-lg;
        position: relative;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
          transition: transform $transition-base;
        }
        .category-image {
          width: 18.75rem; // 300px

          object-fit: contain;
        }
        .category-title {
          color: $primary-color;
          text-shadow: $subtle-text-shadow;
          margin-block-start: $spacing-sm;
          top: 0;
          position: absolute;
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}

.best-sellers-section {
  margin: 0 $spacing-4xl $spacing-3xl $spacing-4xl;
  .container {
    .section-title {
      margin-block-end: $spacing-lg;
      text-shadow: $subtle-text-shadow;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .view-all-button {
      @include brown-button;
      margin-block-end: $spacing-sm;
    }
  }
  .cards-container {
    gap: $spacing-lg;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.sales-section {
  display: flex;
  position: relative;
  margin-bottom: $spacing-3xl;
  .container {
    margin: 0;
    width: 100%;
    padding: 0;
    .sales-image {
      display: flex;
      width: 100%;
      object-fit: cover;
    }
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      top: 0;
      width: 100%;
      .title {
        margin-block-end: $spacing-sm;
        font-size: $font-size-2xl;
      }
      .subtitle {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
      }
      .shop-button {
        @include white-button;
        margin-block-start: $spacing-lg;
      }
    }
  }
}

.explore-section {
  margin: 0 $spacing-4xl $spacing-3xl $spacing-4xl;
  .container {
    .section-title {
      margin-block-end: $spacing-lg;
      text-shadow: $subtle-text-shadow;
    }
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .cards-container {
    gap: $spacing-lg;
    margin-block-end: $spacing-lg;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(15.625rem, 1fr));
  }
  .view-all-button-container {
    display: flex;
    justify-content: center;
    margin-block-start: $spacing-lg;
  }
  .view-all-button {
    @include brown-button;

    height: 3.125rem; // 50px
  }
}

.services-section {
  margin-bottom: $spacing-3xl;
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.product-skeleton {
  // To refactor into product-card.component.scss
  width: 16.875rem; // 270px
  height: 25rem; // 400px
  background: #f0f0f0;
  border-radius: $border-radius-md;
  animation: pulse 1.5s infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

.cards-container {
  transition: opacity $transition-base;

  &:not(.loading) {
    opacity: 1;
  }

  &.loading {
    opacity: 0.5;
  }
}
