@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.hero-section {
  .container {
    position: relative;
    .main-background-image {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .main-background-image-overlay {
      padding-block-start: $spacing-sm;
      padding-block-end: $spacing-3xl;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.4);
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;

      @include respond-to(md) {
        padding-block-end: $spacing-md;
      }
      @include respond-to(sm) {
        padding-block-end: $spacing-sm;
      }
      @include respond-to(xs) {
        padding-bottom: $spacing-xs;
      }
      .title {
        margin-inline-start: $spacing-4xl;
        color: $primary-color;
        text-align: center;
        margin-block-end: $spacing-sm;
        text-shadow: $subtle-text-shadow;

        @include respond-to(md) {
          margin-inline-start: $spacing-xl;
          font-size: $font-size-3xl;
          text-align: center;
        }

        @include respond-to(sm) {
          margin-inline-start: $spacing-lg;
          font-size: $font-size-2xl;
          text-align: center;
          width: 100%;
          margin-inline-start: 0;
        }

        @include respond-to(xs) {
          margin-inline-start: 0;
          font-size: $font-size-xl;
          text-align: center;
          width: 100%;
        }
      }

      .subtitle {
        margin-inline-start: $spacing-4xl;
        color: $primary-color;
        text-align: flex-start;
        font-size: $font-size-xl;
        font-weight: $font-weight-light;

        @include respond-to(md) {
          margin-inline-start: $spacing-xl;
          font-size: $font-size-lg;
        }

        @include respond-to(sm) {
          margin-inline-start: $spacing-lg;
          font-size: $font-size-md;
          text-align: center;
          width: 100%;
          margin-inline-start: 0;
        }

        @include respond-to(xs) {
          margin-inline-start: 0;
          font-size: $font-size-base;
          text-align: center;
          width: 100%;
        }
      }

      .shop-button {
        margin-inline-start: $spacing-4xl;
        margin-block-start: $spacing-lg;
        @include white-button;

        @include respond-to(md) {
          margin-inline-start: $spacing-xl;
        }

        @include respond-to(sm) {
          margin-inline-start: 0;
          align-self: center;
        }

        @include respond-to(xs) {
          margin-inline-start: 0;
          align-self: center;
        }
      }

      @include respond-to(sm) {
        align-items: center;
        align-content: center;
      }

      @include respond-to(xs) {
        align-items: center;
        align-content: center;
      }
    }
  }
}

.categories-section {
  .container {
    margin: $spacing-3xl auto;
    padding: 0 $spacing-4xl;

    @include respond-to(md) {
      padding: 0 $spacing-xl;
    }

    @include respond-to(sm) {
      padding: 0 $spacing-lg;
    }

    @include respond-to(xs) {
      padding: 0 $spacing-md;
    }

    .section-title {
      margin-block-end: $spacing-lg;
      text-shadow: $subtle-text-shadow;
      text-align: left;

      @include respond-to(sm) {
        font-size: $font-size-2xl;
        text-align: center;
      }

      @include respond-to(xs) {
        text-align: center;
      }
    }

    .categories-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $spacing-lg;

      @media screen and (max-width: 1400px) and (min-width: 1020px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include respond-to(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond-to(sm) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
        margin-inline: 3rem;
      }

      @include respond-to(xs) {
        grid-template-columns: repeat(1, 1fr);
        margin-inline: 0;
      }

      .category-card {
        position: relative;
        cursor: pointer;
        margin-block-end: $spacing-lg;
        display: flex;
        flex-direction: column;
        // max-width: 19rem;

        &:hover {
          transform: scale(1.05);
          transition: transform $transition-base;
        }

        .category-image {
          width: 100%;
          // max-width: 19rem;
          object-fit: contain;
        }

        .category-title {
          color: $primary-color;
          text-shadow: $subtle-text-shadow;
          margin-block-start: $spacing-sm;
          font-size: $font-size-2xl;
          top: 0;
          position: absolute;
          display: flex;
          width: 100%;
          justify-content: center;
          padding: $spacing-xs;
        }
      }
    }
  }
}

.best-sellers-section,
.explore-section {
  --product-card-width: 19rem;
  --product-card-height: 25rem;

  @include respond-to(md) {
    --product-card-width: 100%;
    --product-card-height: 28rem;
  }

  @include respond-to(sm) {
    --product-card-width: 100%;
    --product-card-height: 30rem;
  }

  @include respond-to(xs) {
    --product-card-width: 100%;
    --product-card-height: 32rem;
  }
}

.best-sellers-section {
  margin: 0 auto $spacing-3xl;
  padding: 0 $spacing-4xl;

  @include respond-to(md) {
    padding: 0 $spacing-xl;
  }

  @include respond-to(sm) {
    padding: 0 $spacing-lg;
  }

  @include respond-to(xs) {
    padding: 0 $spacing-md;
  }

  .container {
    .section-title {
      margin-block-end: $spacing-lg;
      text-shadow: $subtle-text-shadow;
      text-align: left;

      @include respond-to(sm) {
        font-size: $font-size-2xl;
        text-align: center;
        margin-block-end: $spacing-sm;
        width: 100%;
      }

      @include respond-to(xs) {
        text-align: center;
        margin-block-end: $spacing-sm;
        width: 100%;
      }
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-to(sm) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    @include respond-to(xs) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .view-all-button {
      @include brown-button;
      margin-block-end: $spacing-sm;

      @include respond-to(sm) {
        margin-inline-start: auto;
        margin-inline-end: auto;
        margin-block-start: 0;
        margin-block-end: $spacing-md;
        order: 2;
      }

      @include respond-to(xs) {
        margin-inline-start: auto;
        margin-inline-end: auto;
        margin-block-start: 0;
        margin-block-end: $spacing-md;
        order: 2;
      }
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-lg;

    @media screen and (max-width: 1400px) and (min-width: 1020px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
      margin-inline: 3rem;
    }

    @include respond-to(xs) {
      grid-template-columns: repeat(1, 1fr);
      margin-inline: 0;
    }
  }
}

.sales-section {
  display: flex;
  position: relative;
  margin-block-end: $spacing-3xl;

  .container {
    margin: 0;
    width: 100%;
    padding: 0;

    .sales-image {
      display: flex;
      width: 100%;
      object-fit: cover;
      min-height: 15rem;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);

      .title {
        margin-block-end: $spacing-sm;
        font-size: $font-size-2xl;
        color: $primary-color;
        text-shadow: $subtle-text-shadow;

        @include respond-to(sm) {
          font-size: $font-size-xl;
        }

        @include respond-to(xs) {
          font-size: $font-size-lg;
        }
      }

      .subtitle {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        color: $primary-color;
        text-align: center;
        padding: 0 $spacing-md;

        @include respond-to(sm) {
          font-size: $font-size-md;
        }

        @include respond-to(xs) {
          font-size: $font-size-base;
        }
      }

      .shop-button {
        @include white-button;
        margin-block-start: $spacing-lg;
      }
    }
  }
}

.explore-section {
  margin: 0 auto $spacing-3xl;
  padding: 0 $spacing-4xl;

  @include respond-to(md) {
    padding: 0 $spacing-xl;
  }

  @include respond-to(sm) {
    padding: 0 $spacing-lg;
  }

  @include respond-to(xs) {
    padding: 0 $spacing-md;
  }

  .container {
    .section-title {
      margin-block-end: $spacing-lg;
      text-shadow: $subtle-text-shadow;
      text-align: left;

      @include respond-to(sm) {
        font-size: $font-size-2xl;
        text-align: center;
      }

      @include respond-to(xs) {
        text-align: center;
      }
    }
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-lg;
    margin-block-end: $spacing-lg;

    @media screen and (max-width: 1400px) and (min-width: 1020px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(1, 1fr);
      margin-inline: 3rem;
    }

    @include respond-to(xs) {
      grid-template-columns: repeat(1, 1fr);
      margin-inline: 0;
    }
  }

  .view-all-button-container {
    display: flex;
    justify-content: center;
    margin-block-start: $spacing-lg;
  }

  .view-all-button {
    @include brown-button;
    height: 3.125rem;

    @include respond-to(xs) {
      width: 100%;
    }
  }
}

.services-section {
  margin-block-end: $spacing-3xl;
  padding: 0 $spacing-md;

  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: $spacing-lg;

    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: $spacing-md;

      @include respond-to(md) {
        flex-basis: 45%;
      }

      @include respond-to(xs) {
        flex-basis: 100%;
      }
    }
  }
}

.cards-container {
  transition: opacity $transition-base;

  &:not(.loading) {
    opacity: 1;
  }

  &.loading {
    opacity: 0.5;
  }
}
