<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" opened class="drawer">
    <div class="categories-panel">
      <h3>Categories</h3>
      <div class="main-categories">
        <div *ngFor="let section of categorySections" class="category-section">
          <div
            class="category-header"
            (click)="toggleCategory(section.title)"
            [class.active]="section.isOpen"
          >
            <span>{{ section.title }}</span>
            <img
              src="assets/images/dropdown-icon.png"
              alt="dropdown"
              [class.rotated]="section.isOpen"
            />
          </div>
          <div class="subcategories" [class.open]="section.isOpen">
            <a
              *ngFor="let category of section.categories"
              (click)="onCategoryClick(category.link)"
              class="category-item"
              [class.active]="activeCategory === category.link.split('/').pop()"
            >
              {{ category.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="products-container">
      <app-product-card
        *ngFor="let product of products; trackBy: trackByProductId"
        [product]="product"
      ></app-product-card>

      <div *ngIf="products.length === 0" class="no-products">
        No products found
      </div>
    </div>

    <div class="pagination-controls" *ngIf="totalProducts > 0">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button
        (click)="nextPage()"
        [disabled]="currentPage * itemsPerPage >= totalProducts"
      >
        Next
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
