@import "./app/shared/styles/_variables.scss";

* {
  font-family: $default-font !important;
}

body {
  background-color: $primary-color;
  margin: 0 !important;
}

h1 {
  font-size: 34px;
  font-weight: 650;
  color: $secondary-color;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 22px;
  color: $secondary-color;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  color: $secondary-color;
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  color: $secondary-color;
  margin: 0;
  padding: 0;
}
